@model ExcelToSql.Models.ActionViewModel



<div class="dropdown">
    <span class="label label-default">Connected to Database<span class="alert alert-primary" style="padding:0px"> @Model.databaseName</span> and data pushed to<span class="alert alert-primary" style="padding:0px"> @Model.tableName</span></span>


</div>
<div class="row">
    

    <div class="col-3" style="background-color:ghostwhite">
        <form id="sp">
            <h2>Run STORED PROCEDURE</h2>
            <a href="#" id="StoredProc">Click to execute</a>
            <input type="hidden" id="html"/>
        </form>
    </div>
  
    <div class="col-1"></div>
    
    <div class="col-3" style="background-color:darkgrey">
        <form id="select" action="~/Action/selectCommands" method="post">
            <h1>Run Select Statement</h1>
            <a href="#" id="selectStatement">Click to execute</a>
            <input type="hidden" id="htmls" name="selectCommands" />
        </form>
    </div>
    
    <div class="col-1"></div>
    
    <div class="col-3" style="background-color:darkgrey">
        <form id="dml">
            <h1>Run other DML Statements</h1>
            <a  href="#" id="otherDML">Click to execute</a>
            <input type="hidden" id="html" />
        </form>
    </div>
    
    <div class="col-1"></div>
</div>

    <br />
    <div class="row">
        <div class="col-12" style="height:120px">
            <textarea class="col-12" style="height:120px" id="commands"> </textarea>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.js")" type="text/javascript"></script>
    <script>
        $("#selectStatement").click(function () {
            alert();
            $("#htmls").val($('#commands').val());
            $('form#select').submit();
        })

        var dataObjec = {
            "selectCommands": "USE master;SELECT NAME FROM sysdatabases;"
        };

        $("#selectDB").click(function () {

            $.ajax({

                url: "/Action/selectQuery",
                type: 'POST',
                data: dataObjec,
                success: function (result) {
                    $("#menuitem").html(createOptions(result))
                        ;

                }
            });
        });

        function createOptions(result) {
            var dbNames = JSON.parse(result);
            let dbNameJson = "";
            for (let dbname of dbNames) {
                dbNameJson = dbNameJson + '< option value = " ' + dbname + '" >' + dbname + '</option >';
            }
            alert(dbNameJson);

            return $.parseHTML(dbNameJson.replace(null, ""));;
        }
    </script>

    @if (Model != null && Model.gridViewModel != null)
    {
        @Html.Partial("../PartialViews/Grid", Model.gridViewModel);
    }
